<div style="overflow: hidden">
  <pg-container extraHorizontalClass="bg-white p-l-0 p-r-0" extraClass="bg-white sm-p-l-0 sm-p-r-0">
    <!-- START card -->
    <div class="inner" pg-parallax>

      <div class="card card-default">
        <div class="card-header ">
          <div class="card-title">Filtros de B&uacute;squeda</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <label>&nbsp;</label>
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">Mes</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedPeriodo" [PlaceHolder]="'Selecciona Mes'" AllowClear ShowSearch>
                  <pg-option
                    *ngFor="let option of optionsFechas"
                    [Label]="option.label"
                    [Value]="option">
                  </pg-option>
                </pg-select>
              </div>
            </div>
            <div class="col-md-4">
              <label>Periodo</label>
              <div class="form-group ">
                <div class="form-row">
                  <div class="form-group form-group-default input-group col-md-6">
                    <div class="form-input-group">
                      <label class="">De:</label>
                      <pg-datepicker (ngModelChange)="_startDate=$event;_startValueChange()"
                                     Placeholder="Seleccione fecha"
                                     [ngModel]="_startDate"
                                     [DisabledDate]="_disabledStartDate" [Format]="'DD/MM/YYYY'"
                                      (datePickerInstance)= 'fechaDeInstance = $event'

                      ></pg-datepicker>
                    </div>
                    <div class="input-group-append" (click)="fechaDeInstance._openCalendar()">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                  </div>


                  <div class="form-group form-group-default input-group col-md-6">
                    <div class="form-input-group">
                      <label class="">A:</label>
                      <pg-datepicker (ngModelChange)="_endDate=$event;_endValueChange()"
                                     Placeholder="Seleccione fecha"
                                     [ngModel]="_endDate" [DisabledDate]="_disabledEndDate"
                                     [Format]="'DD/MM/YYYY'"
                                     (datePickerInstance)= 'fechaAInstance = $event'
                      ></pg-datepicker>
                    </div>
                    <div class="input-group-append" (click)="fechaAInstance._openCalendar()">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">

                <div class="col-md-6 col-sm-6">
                  <div class="checkbox  check-danger checkbox-circle">
                    <input type="checkbox"  value="0" id="checkbox7">
                    <label for="checkbox7">Por Estado</label>
                  </div>
                  <div class="checkbox check-danger checkbox-circle">
                    <input type="checkbox" value="1" id="checkbox8">
                    <label for="checkbox8">Por D&iacute;</label>
                  </div>
                  <div class="checkbox check-danger checkbox-circle">
                    <input type="checkbox"  value="2" id="checkbox9">
                    <label for="checkbox9">Por Mes</label>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="checkbox  check-danger">
                    <input type="checkbox" value="3" id="checkbox10">
                    <label for="checkbox10">Margen</label>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">Marca</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedMarca" [PlaceHolder]="'Selecciona Marca'" AllowClear ShowSearch>
                  <pg-option
                    *ngFor="let option of optionsMarcas"
                    [Label]="option.label"
                    [Value]="option">
                  </pg-option>
                </pg-select>
              </div>
            </div>


            <div class="col-md-4">
              <div class="form-group form-group-default form-group-default-select2">
                <label class="">INC/DEC Por:</label>
                <pg-select style="width: 100%;" [(ngModel)]="selectedMarca" [PlaceHolder]="'Selecciona'" AllowClear ShowSearch>
                  <pg-option
                    *ngFor="let option of optionsINCDEC"
                    [Label]="option.label"
                    [Value]="option">
                  </pg-option>
                </pg-select>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="row">
      &nbsp;
    </div>

  </pg-container>

</div>
<pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
  <!-- START card -->
  <div class="card card-transparent">
    <div class="card-header  d-flex justify-content-between">
      <div class="card-title"></div>
      <div class="export-options-container"></div>
      <!-- <div class="clearfix"></div> -->
    </div>
    <div class="card-body">
      <div class="table-responsive" style="height:450px;overflow-y: hidden">
        <ngx-datatable #tableAdvance class='table table-hover table-stripped'
                       [columns]="advanceColumns"
                       [columnMode]="columnModeSetting"
                       [scrollbarH]="scrollBarHorizontal"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="60"
                       [limit]="5"
                       [scrollbarV]="true"
                       [rows]='advanceRows'>
        </ngx-datatable>
      </div>
    </div>
  </div>
  <!-- END card -->
</pg-container>
