@import 'core.scss';
@import 'themes/modern/_var.scss';

$base-img-url: "../../assets/images" !global;
$assets-url: "../../assets" !global;

@import "modules/_layout.scss";
@import "modules/_horizontal_menu.scss";
@import "modules/_horizontal-layout.scss";
@import "modules/_secondary-sidebar.scss";
@import 'modules/_header.scss';
@import 'modules/_overlay-search.scss';
//Sidebar Styles
@import 'modules/_quick-view.scss';
@import 'modules/_list.scss';

//UI Components
@import "icons.scss";
@import "modules/_typography.scss";
@import 'modules/_breadcrumb.scss';
@import "modules/_buttons.scss";
@import "modules/_alerts.scss";
@import "modules/_notifications.scss";
@import "modules/_tabs_accordian.scss";
@import "modules/_modals.scss";
@import "modules/_progress_indicators.scss";

//Pages Components
@import "modules/_datepicker.scss";
@import "modules/_timepicker.scss";
@import "modules/_select.scss";
@import "modules/_slider.scss";
@import "modules/_switch.scss";
@import "modules/_tabs.scss";
@import "modules/_tags.scss";
@import "modules/_uploader.scss";
@import "modules/_pagination.scss";

//View
@import "modules/_view.scss";

//Cards
@import "modules/_cards.scss";

//Form Elements
@import "modules/_form_elements.scss";

//Tables
@import "modules/_tables.scss";

//Charts
@import "modules/_charts.scss";

//List
@import "modules/_list.scss";

//Social
@import "modules/_social.scss";

//Email
@import "modules/_email.scss";

//Login
@import "modules/_login.scss";

//Lock screen
@import "modules/_lock_screen.scss";

//Timeline
@import "modules/_timeline.scss";

//Gallery
@import "modules/_gallery.scss";

//Chat
@import "modules/_chat.scss";

//Z-indexes
@import "modules/z_index.scss";

//Misc
@import "modules/_misc.scss";

//Print
@import "modules/_print.scss";

//Misc Helpers
@import "modules/_misc.scss";

//Demo - Remove in production
@import "modules/_demo.scss";

//Responsive Classes
@import "_responsive.scss";

//Utils
@import "utils.scss";

//Vendor
@import "vendor/perfect-scroller.scss";
@import "vendor/typehead.scss";
@import "vendor/ng-tree.scss";
@import "vendor/quill.scss";
@import "vendor/ng-datatable.scss";
@import "vendor/ngx-nvd3.scss";
@import "vendor/ngx-google-map.scss";

//Theme Overides
@import 'themes/modern/_custom.scss';


@media (max-width: 979px) {
  .headerCustom {
    background: url('../../assets/images/top.png') repeat-y top left;
    background-size: contain;
  }
}

@media (min-width: 980px) {
  .headerCustom {
    background: url('../../assets/images/top.png') repeat-y top left;
    background-size: contain;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 95%;
  }
}

.headerPurple, .headerYellow, .headerGreen, .headerTerracota, .headerAzul, .headerYellowPiezas{
  padding: 0px!important;
}

.headerPurple{
  color: white !important;
  background-image: linear-gradient(#0D23F4, #7967B2);
}


.headerYellow{
  background-image: linear-gradient(#FDA228, #F1C15F);
  color: white !important;
}

.headerGreen {
  background-image: linear-gradient(#0B6930, #B2D273);
  color: white !important;
}

.headerTerracota {
  background-image: linear-gradient(#FC261C, #BD5758);
  color: white !important;
}

.headerAzul {
  background-image: linear-gradient(#0826D2, #66C8EB);
  color: white !important;
}

.headerYellowPiezas {
  background-image: linear-gradient(#FDA228, #F1C15F);
  color: white !important;
}


.headerNormal {
  position: relative;
  top: 20px;
  height: 50px;
  white-space: normal;
  line-height: 10px;
  width: 80px;
  text-align: center;

}

.ngx-datatable .datatable-header .datatable-header-cell.sortable .sort-btn{
  top: 20px !important;
}

.headerSuperior{
  z-index: 9999;
  position: fixed;
  top: 3px;
  text-align: center;
  color: black !important;
}


.cellShowTienda {
  height: 25px;
  padding: 7px;
  text-align: center
}


.cellClass {
  display: flex !important;
  justify-content: center ;
  padding: 0px !important;
  flex-direction: column;
  height: 30px;
}


datatable-summary-row>datatable-body-row>div>datatable-body-cell {
  height: 50px!important;
}

.cellIdClass{
  padding: 0px!important;
  text-align: center;
}

.idColorMartes {
  background-color: #FCF2D1;
}

.idColorMiércoles {
  background-color: #E5F1F4;
}

.idColorJueves{
  background-color: #F5DDCD;
}

.idColorViernes {
  background-color: #D6F5E3;
}

.idColorSábado {
  background-color: #FFFFFF;
}

.idColorDomingo {
  background-color: #D7EAF7;
}

idColorLunes {
  background-color: #FFFFFF;
}


.cellText {
  display: table-cell !important;
  vertical-align: middle !important;
  height: 30px;
}

.cellIdText {
  display: flex;
  justify-content: space-around;
  padding: 7px;
}


.cellNumber {
  display: table-cell !important;
  vertical-align: middle !important;
  height: 30px;
  width: 100px;
  text-align: right;
}

datatable-summary-row,
datatable-summary-row > datatable-body-row,
datatable-summary-row > datatable-body-row > div,
datatable-summary-row > datatable-body-row > div > datatable-body-cell{
  background-color: #83909A !important;
  color: white;
  font-weight: bold;
}

datatable-summary-row > datatable-body-row > div > datatable-body-cell > .datatable-body-cell-label{
  text-align: right;
}


datatable-row-wrapper > datatable-body-row > div> datatable-body-cell {
  padding: 5px!important;
}

.ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell{
  font-size: 11px;
}


.linkSelectTable {
  cursor: pointer;
  font-weight: bold;
}

.linkSelectTable:hover {
  font-weight: bolder;
  text-shadow: #A4A4A4 0.1em 0.1em 0.2em;
}

.noPaddingTop {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.noMinHeight {
  min-height: 0px !important;
}

.noMarginBottom {
  margin-bottom: 0px !important;
}

pg-breadcrumb{
  display: block !important;
}
