@import 'core.scss';
@import 'themes/modern/_var.scss';

$base-img-url: "../../assets/images" !global;
$assets-url: "../../assets" !global;

@import "modules/_layout.scss";
@import "modules/_horizontal_menu.scss";
@import "modules/_horizontal-layout.scss";
@import "modules/_secondary-sidebar.scss";
@import 'modules/_header.scss';
@import 'modules/_overlay-search.scss';
//Sidebar Styles
@import 'modules/_quick-view.scss';
@import 'modules/_list.scss';

//UI Components
@import "icons.scss";
@import "modules/_typography.scss";
@import 'modules/_breadcrumb.scss';
@import "modules/_buttons.scss";
@import "modules/_alerts.scss";
@import "modules/_notifications.scss";
@import "modules/_tabs_accordian.scss";
@import "modules/_modals.scss";
@import "modules/_progress_indicators.scss";

//Pages Components
@import "modules/_datepicker.scss";
@import "modules/_timepicker.scss";
@import "modules/_select.scss";
@import "modules/_slider.scss";
@import "modules/_switch.scss";
@import "modules/_tabs.scss";
@import "modules/_tags.scss";
@import "modules/_uploader.scss";
@import "modules/_pagination.scss";

//View
@import "modules/_view.scss";

//Cards
@import "modules/_cards.scss";

//Form Elements
@import "modules/_form_elements.scss";

//Tables
@import "modules/_tables.scss";

//Charts
@import "modules/_charts.scss";

//List
@import "modules/_list.scss";

//Social
@import "modules/_social.scss";

//Email
@import "modules/_email.scss";

//Login
@import "modules/_login.scss";

//Lock screen
@import "modules/_lock_screen.scss";

//Timeline
@import "modules/_timeline.scss";

//Gallery
@import "modules/_gallery.scss";

//Chat
@import "modules/_chat.scss";

//Z-indexes
@import "modules/z_index.scss";

//Misc
@import "modules/_misc.scss";

//Print
@import "modules/_print.scss";

//Misc Helpers
@import "modules/_misc.scss";

//Demo - Remove in production
@import "modules/_demo.scss";

//Responsive Classes
@import "_responsive.scss";

//Utils
@import "utils.scss";

//Vendor
@import "vendor/perfect-scroller.scss";
@import "vendor/typehead.scss";
@import "vendor/ng-tree.scss";
@import "vendor/quill.scss";
@import "vendor/ng-datatable.scss";
@import "vendor/ngx-nvd3.scss";
@import "vendor/ngx-google-map.scss";

//Theme Overides
@import 'themes/modern/_custom.scss';


@media (max-width: 979px) {
  .headerCustom {
    background: url('../../assets/images/top.png') repeat-y top left;
    background-size: contain;
  }
}

@media (min-width: 980px) {
  .headerCustom {
    background: url('../../assets/images/top.png') repeat-y top left;
    background-size: contain;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 95%;
  }
}



.headerPurple{
  background-color: #7967B2;
  color: white !important;
}


.headerYellow{
  background-color: #F1C15F;
  color: white !important;
}

.headerGreen {
  background-color: #B2D273;
  color: white !important;
}

.headerTerracota {
  background-color: #BD5758;
  color: white !important;
}

.headerAzul {
  background-color: #66C8EB;
  color: white !important;
}

.headerYellowPiezas {
  background-color: #EBBC5C;
  color: white !important;
}


.headerNormal {
  position: relative;
  top: 10px;
  height: 50px;
}

.ngx-datatable .datatable-header .datatable-header-cell.sortable .sort-btn{
  top: 10px !important;
}

.headerSuperior{
  z-index: 9999;
  position: fixed;
  top: 3px;
  text-align: center;
  color: black !important;
}


.cellClass {
  padding-top: 0px !important;
  margin-top: auto !important;
  height: auto !important;
  white-space: normal !important;
  display: table !important;
  /* margin-bottom: auto; */
  /* height: 50px; */
}


.cellText {
  display: table-cell !important;
  vertical-align: middle !important;
  height: 50px;
  /*
  font-size: 11px !important;
   */
}
